.form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: #f5f5f5;
    border-radius: 10px;
    width: 240px;
    margin-top: 10px;
}
.field {
    margin-bottom: 4px;

}
.input {
    color: #454648;
    border: 1px solid #454648;
    background: white;
    border-radius: 4px;
    height: 20px;
    margin-bottom: 8px;
}
.title {
    margin-top: 0;
}
