.s {
    height: 20px;
    width: 20px;
}
.m {
    height: 40px;
    width: 140px;
}
.tab {
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.roundBtn {
    border-radius: 100%;
    border: 1px solid #454648;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
}
.active {
    background: #454648;
    color: #fafafa;
}
.notActive {
    background: #d0d0d0;
}
.disabled {
    border: 1px solid #bcbdbf !important;
    color: #bcbdbf;
    cursor: not-allowed !important;
}
.text {
    margin: 0 auto;
}