.tab {
    height: 40px;
    width: 140px;
    margin-right: 4px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.disabled {
    border: 1px solid #bcbdbf !important;
    color: #bcbdbf;
    cursor: not-allowed !important;
}
.btn {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px solid #454648;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
}
.bigBtn {
    height: 40px;
    width: 180px;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    background: #d0d0d0;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
}
.active {
    background: #454648;
    color: #fafafa;
}
.notActive {
    background: #d0d0d0;
}
.text {
    margin: 0 auto;
}
.rainbow {
    background-image: linear-gradient(145deg, #ee82ee, slateblue, #ffd86a, purple);
}