html, body {
    margin: 0;
    height: 100%;
    color: #454648;
    font-size: 16px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}