html, body {
    margin: 0;
    height: 100%;
    color: #454648;
    font-size: 16px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.tab {
    height: 40px;
    width: 140px;
    margin-right: 4px;
}
.dish {
    display: flex;
    margin-bottom: 10px;
}